<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Lista wizyt kklienta</title>
</head>
<body style="background-color: aquamarine">
<div th:replace="shared/header :: header('visits')"/>

<div id="main" class="container">

    <H1 th:inline="text">Lista wizyt pacjenta [[${patient.firstName}]] [[${patient.lastName}]]</H1>

    <div th:if="${visits.isEmpty() eq true}">
        <span>Brak wizyt w bazie</span>
    </div>
    <div th:if="${visits.isEmpty() eq false}">

        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>Data wizyty</th>
                <th>Do zapłaty</th>
                <th>Zapłacono</th>
                <th>Dentysta</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="visit : ${visits}">

                <td th:inline="text">[[${#dates.format(visit.visitDate, 'dd-MM-yyyy HH:mm')}]]</td>
                <td th:inline="text">[[${visit.calculatePrice()}]] zł</td>
                <td th:inline="text">[[${visit.finished}]] zł</td>
                <td th:inline="text">[[${visit.pracownik.name}]] [[${visit.pracownik.surname}]]</td>
                <td >
                    <a class="btn btn-danger" th:href="@{/visits/delete(id=${visit.id})}" th:text="Usuń"></a>
                    <a class="btn btn-success" th:href="@{/visits/edit(id=${visit.id})}" th:text="Edytuj"></a>
                </td>

            </tr>

            </tbody>
        </table>


    </div>

    <a class="btn btn-success" href="/visits/add">Dodaj Nową Wizytę</a>


</div>
</body>
</html>